{% extends 'layouts/main.html' %} {%block content%}

<div class="">
    <div class="mx-4 pt-4 d-flex">
        <h1 class="mx-2">Equipos</h1>
        <img class="mx-2" src="../static/images/equipo-logo.svg" alt="incidente-logo">
    </div>
    <div class="container-fluid pt-4 d-flex justify-content-center">
        <a class="btn btn-success mx-5 mb-4 py-2 col-2" href="../equipo"> Añadir equipo </a>
    </div>
    {% for e in equipos %}
    <div class="mx-5 my-2 border-bottom row d-flex">
        <div>
            <h2>{{e.codigo}}</h2>
            <h4>{{e.nombre}}</h4>
            <p>Marca: {{e.marca}}</p>
            <p>Modelo: {{e.modelo}}</p>
            <p>Serie: {{e.serie}}</p>
            <p>Centro de costo: {{e.centroCosto}}</p>
            <p>Prioridad: {{e.propridad}}</p>
            <p>Parte de: {{e.parteDe}}</p>
            <p>Creado: {{e.created}}</p>
            <p>Actualizado: {{e.updated}}</p>
        </div>
        {%if request.user.is_authenticated and user.is_superuser%}
        <div>
            <a class="btn btn-warning mx-5 mb-4" href="/equipo/{{e.id}}">Editar</a>
            <a class="btn btn-danger mx-5 mb-4" href="/confirmar_borrar_equipo/{{e.id}}">Eliminar</a>
        </div>
        {%endif%}
    </div>

    {% endfor %} {%endblock%}
</div>
