{% extends 'layouts/main.html' %} {%block content%}

<div class="">
    <div class="container-fluid pt-4 d-flex justify-content-center">
        <a class="btn btn-success mx-5 mb-4 py-2 col-2" href="../equipo"> Añadir equipo </a>
    </div>
    {% for e in equipos %}
    <div class="mx-5 my-2 border-bottom row d-flex">
        <div>
            <h2>{{e.codigo}}</h2>
            <p>{{e.nombre}}</p>
        </div>
        {%if request.user.is_authenticated and user.is_superuser%}
        <div>
            <a class="btn btn-warning mx-5 mb-4" href="/equipo/{{e.id}}">Editar</a>
            <a class="btn btn-danger mx-5 mb-4" href="/confirmar_borrar_equipo/{{e.id}}">Eliminar</a>
        </div>
        {%endif%}
    </div>

    {% endfor %} {%endblock%}
</div>
