{% extends 'layouts/main.html' %} {%block content%}
<div>
    <div class="mx-4 pt-4 d-flex">
        <h1 class="mx-2">Incidentes</h1>
        <img class="mx-2" src="../static/images/incidente-logo.svg" alt="incidente-logo">
    </div>
    <div class="container-fluid pt-4 d-flex justify-content-center">
        <a class="btn btn-success mx-5 mb-4 py-2 col-2" href="../reporte/"> Añadir incidente </a>
    </div>
    {% for i in incidentes %}
    <div class="mx-5 my-2 border-bottom row d-flex">
        <div>
            <h2>{{i.equipo}}<h2>
            <h4>{{i.titulo}}</h4>
            <p>Descripción: {{i.descripcion}}</p>
            <p>Clase: {{i.clase}}</p>
            <p>Tipo: {{i.tipo}}</p>
            <p>Reportado por: {{i.user}}</p>
            <p>Creado: {{i.created}}</p>
            <p>Editado: {{i.updated}}</p>
        </div>
        {%if request.user.is_authenticated%}
            {%if user.is_superuser or user == i.user %}
            <div>
                <a class="btn btn-warning mx-5 mb-4" href="/reporte/{{i.id}}">Editar</a>
                <a class="btn btn-danger mx-5 mb-4" href="/confirmar_borrar_reporte/{{i.id}}">Eliminar</a>
            </div>
            {%endif%}
        {%endif%}
    </div>
    {% endfor %} {%endblock%}

</div>




