* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

.gradient {
    background: linear-gradient(90deg, rgba(208, 0, 0, 1) 0%, rgba(68, 1, 1, 1) 100%);
    color: white;
}